<!DOCTYPE html>
<html>
<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="generator" content="Mobirise v4.8.8, mobirise.com">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <link rel="shortcut icon" href="Assets/images/logo3.png" type="image/x-icon">
    <meta name="description" content="Latest HTML Bootstrap Portfolio Template - Free Download">
    <title>Free HTML Bootstrap Portfolio Template</title>
    <link rel="stylesheet" href="~/Assets/web/assets/mobirise-icons/mobirise-icons.css">
    <link rel="stylesheet" href="~/Assets/tether/tether.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap-reboot.min.css">
    <link rel="stylesheet" href="~/Assets/socicon/css/styles.css">
    <link rel="stylesheet" href="~/Assets/theme/css/style.css">
    <link rel="stylesheet" href="~/Assets/gallery/style.css">
    <link rel="stylesheet" href="~/Assets/mobirise/css/mbr-additional.css" type="text/css">
</head>
<body>
    @RenderBody();

    <script src="~/Assets/web/assets/jquery/jquery.min.js"></script>
    <script src="~/Assets/popper/popper.min.js"></script>
    <script src="~/Assets/tether/tether.min.js"></script>
    <script src="~/Assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Assets/smoothscroll/smooth-scroll.js"></script>
    <script src="~/Assets/touchswipe/jquery.touch-swipe.min.js"></script>
    <script src="~/Assets/masonry/masonry.pkgd.min.js"></script>
    <script src="~/Assets/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="~/Assets/bootstrapcarouselswipe/bootstrap-carousel-swipe.js"></script>
    <script src="~/Assets/viewportchecker/jquery.viewportchecker.js"></script>
    <script src="~/Assets/sociallikes/social-likes.js"></script>
    <script src="~/Assets/theme/js/script.js"></script>
    <script src="~/Assets/gallery/player.min.js"></script>
    <script src="~/Assets/gallery/script.js"></script>
    <script src="~/Assets/formoid/formoid.min.js"></script>
</body>
</html>